body {
  margin: 0;
  box-sizing: border-box;
  overflow: hidden;
  font-size: 0.5rem;
  font-family: "Open Sans", sans-serif;
}

.link-tag {
  text-decoration: none;
}
/* media queries */
.right-sidebar {
  padding: 0;
  background-color: rgb(174, 206, 174);
  

}
.left-sidebar {
  background-color: rgb(150, 190, 175);
}